.biscoito2 {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 200px;
  background: transparent;
  border: none;
  
}

body {
  background-color: lightblue;
  background-image: url('fundo.png');
  background-size: cover; 

}

.botao3{
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

.autoClick {
  margin-left: 209px;
  margin-top: -201px;
  
} 

.menu-content {
  display: none;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ccc;
}
.menu-content.ativo {
  display: block;
}
.menu-btn {
  display: block;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 5px;
}